<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>{{details.title}}</h1>
        <h3>ID : {{details.id}}</h3>
        <h4>Description : {{details.desc}}</h4>
        <h4>Authors</h4>
        <div class="list">
            <ul>
                {%for author in details.author.all%}
                <li>{{author.first_name}}{{author.last_name}}</li>
                {%endfor%}
            </ul>
        </div>
        <form class="select" action="/add_author/{{details.id}}" method="post">
            {%csrf_token%}
                <select id="select" name="selected" class="form-select" aria-label="Default select example">
                    <option selected>-Select an Author-</option>
                    {%for author in authors%}
                    <option value="{{author.id}}">{{author.first_name}}{{' '}}{{author.last_name}}</option>
                    {%endfor%}
                </select>
                <button type="submit" id="btn" class="btn btn-danger">Add Author</button>
        </form>

    </div>

</body>

</html>