<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
</head>

<body>
    <div id="c">
        <h1>Welcome {{user.name}}</h1>
        <div id="sidebar">
            <a href="/books/add">
                <h6>Add Book and Review</h6>
            </a>
            <form action="/logout">
                <a href="/logout">
                    <h6>Log Out</h6>
                </a>
            </form>
        </div>
    </div>
    <hr>
    <div>
        <div id="main">
            <div>
                <h4>Recent Book Reviews</h4>
                <div id="container">
                    {%for review in reviews%}
                    <hr>
                    <h6><a href="/book_info/{{review.books.id}}">{{review.books.title}}</a></h6>
                    <h6>Rating: {{review.rating}}</h6>
                    <input type="hidden" id={{review.rating}} class="ratings" name="rating" value="{{review.rating}}">
                    <h6><a href="/users/{{review.users.id}}">{{review.users.name }}</a> says : {{review.review}}</h6>
                    <h6>{{review.created_at}}</h6>
                    {%endfor%}
                </div>
            </div>
            <div id="books">
                <h5>Other Books with Reviews</h5>
                <div id="list">
                    <ul>
                        {%for review in reviews%}
                        <li><a href="/book_info/{{review.books.id}}">{{review.books.title}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>