<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pt.name}}</title>
</head>
<body>
    <h1>Medical History</h1>
    <h4>Name: {{pt.first_name}}{{pt.last_name}}</h4>
    <h4>DOB : {{pt.dob}}</h4>
    <h4>Age : {{age}}</h4>
    <h4>Past Medical History : {{pt.informations.pmh}}</h4>
    <h4>Current Medication : {{pt.informations.current_medications}}</h4>
    <h4>Past Surgical History : {{pt.informations.psh}}</h4>
    <h4>Allergy: {{pt.informations.allergy}}</h4>
    <a href="/pdf/download">Download PDF</a>
</body>
</html>